[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/youyan0704
[access "refs/for/refs/*"]
	read = group user/youyan0704
	push = group user/youyan0704
	label-Code-Review = -2..+2 group user/youyan0704
	label-Verified = -1..+1 group user/youyan0704
	rebase = group user/youyan0704
	removeReviewer = group user/youyan0704
	submit = group user/youyan0704
[access "refs/heads/*"]
	read = group user/youyan0704
	create = group user/youyan0704
	push = +force group user/youyan0704
	pushMerge = group user/youyan0704
[access "refs/tags/*"]
	push = group user/youyan0704
	push = +force group user/youyan0704
